@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <link href="~/Content/LibroIndex.css" rel="stylesheet" />
    <h1>WEB Librería</h1>
    <p class="lead">
        Bienvenidos a la WEB de Libros más grande de Latinoamerica. <br />
        ¡Aquí hay un tesoro para una mente investigadora!
    </p>
</div>


<div class="body-content">
    <p>
        Las primeras librerías son tan antiguas como las bibliotecas, es decir, son contemporáneas de la célebre Biblioteca de Alejandría. <br />
        Fueron comerciantes que empezaron a vender y divulgar rollos de papiro o pergamino: siglos más tarde y con la llegada de la imprenta sería para divulgar ese mágico objeto que conocemos como libro. <br />
        De hecho, la historia de las librerías está relacionada con la de los que producían los libros, los editores.
    </p>
</div>


<div class="contenedor-imagenes">
    
    <div class="galeria">
        <img src="~/Content/Imagenes/imagen2.jpg" alt="Libros 1">
    </div>

    <div class="galeria">
        <img src="~/Content/Imagenes/Imagen1.jpg" alt="Libros 2">
    </div>

    <div class="galeria">
        <img src="~/Content/Imagenes/imagen3.jpg" alt="Libros 3">
    </div>
</div>

<!--<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>-->
